SEM 6/WT/Assignment_03/external.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE department [
        <!ELEMENT department (heading|container)*>
        <!ELEMENT heading (#PCDATA)>
        <!ELEMENT container (Record)*>
        <!ELEMENT Record (data)*>
        <!ELEMENT data (data-header|data-cell)*>
        <!ELEMENT data-header (#PCDATA)>
        <!ELEMENT data-cell (#PCDATA)>
        ]>